@use '../../helpers/variables' as *;

.productCard{
   display: flex;
   gap:18px;
   width: 78%;
   margin: auto;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 2rem; 
}
.productContainer {
   position: relative;
   width: 148px;
   height: 148px;
   cursor: pointer;
   overflow: hidden;
   &:hover {
      .overlay {
      opacity: 1; 
}
}
 .product_img{
   width: 148px;
   height: 148px;
   object-fit: cover;
   margin: auto;
   
 }
 .overlay {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 30%;
   background: rgba(0, 166, 120, 0.7) ; 
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
   transition: opacity 0.3s ease;
   color: $white;
}
}

   