@use '../../helpers/variables' as *;
.comment{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 78%;
    align-items: flex-end;
.commentItem  {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-end;
    .commentUser{
        color: Gray;
       margin-right: 2.2rem;
    }
}
.commentText{
    background: #ffffff;
    border: 2px solid $light_green;
    padding: 18px 5px;
    font-size: 14px;
    line-height: 1.4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin-bottom: 3rem;
    margin-top: 0.3rem;
    margin-right: 2.5rem;
    text-align: left;
}
}
@media(max-width:600px){
    .comment{
        width: 91%;
    }   
}
@media(max-width:700px){
    .comment{
        width: 89%;
    }
}
@media(max-width:1100px){
    .comment{
        width: 92%;
    }

}