@use '../../helpers/variables' as *;

.profileContainer {
    padding: 20px;
    font-family:'Roboto';
    margin-bottom: 6rem;
    margin-top: 2rem;
    width: 80%;
    margin: auto;
.tabCard {
    display: flex;
    justify-content: space-between;
    background-color:$logo_green;
    //padding: 10px;
} 
.greenTab {
    background-color: $logo_green;
    color: white;
    width: 50%;
    text-align: center;
    padding: 10px;
    border: none;
}
.whiteTab {
    background-color: white;
    color: $logo_green;
    width: 50%;
    text-align: center;
    padding: 10px;
    border: 2px solid $logo_green;
}
.profileForm {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
  .leftSection {
    width: 50%;
}
.rightSection {
    width: 45%;
}
.label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    padding: 1rem;
} 
input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 2px solid $light_green;
  margin-bottom: 1rem;
}

.buttons {
    margin-top: 20px;
}
.deleteBtn {
    background-color: brown;
    color: $white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}
.saveBtn {
    background-color: $logo_green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.logoutBtn{
    cursor: pointer;
    margin-left: 1rem;
}
.rightSection{
    margin-top: 2rem;
}
}
@media(max-width:600px){
    .saveBtn{
     margin-top: 1rem;
     display: block;
    }
    .logoutBtn{
        margin-top: 1rem;
    }
}