@use "../../helpers/variables" as *;

.navigation{
    background-color:$white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    height: 120px;
    font-family: 'Roboto';
    margin-bottom: 6rem;
.logo{
    display: flex;
    border: 2px solid $logo_green;
    font-family: 'Roboto';
    text-decoration: none;
    .greenSide{
    background-color: $logo_green;
    color: $white;
    padding: 5px 12px;
    }
    .whiteSide{
    color: $logo_green; 
    background-color: $white;
    padding: 5px 12px;
    }
}
.category{
    display: flex;
    flex-direction: row;
    gap: 28px;
    background-color: $white;
    .button{
        background-color: $light_green;
        width: 139.8px;
        height: 44.6px;
        top: 41.33px;
        left: 915px;
        border: none;
        color: $white;
        cursor: pointer;
        &:hover{
          background-color: $logo_green;
        }
        
    }
    .navIcons{
        gap: 8px;
        color: $lightGray;
        opacity: 0.5;
        margin-top: 0.5rem;  
        cursor: pointer;
    }
}

@media (max-width: 1024px) { 
    flex-direction: column;
    height: auto;
    padding: 12px 24px;
    text-align: center;
    .logo {
        justify-content: center;
        font-size: 24px;
        padding: 8px;
    }
    .category {
        flex-direction: row;
        align-items: center;
        gap: 20px;
        padding: 1rem;
    .button {
        width: 120px;
        height: 40px;
        font-size: 14px;
        }
    }
}
@media(max-width:1100px){
    .logo{
        border:none;
        .whiteSide{
            color: $logo_green; 
            background-color: $white;
            padding: 5px 12px;
            border: 2px solid $logo_green;
            }
    }
}
@media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10px;
    gap: 10px;
    text-align: center;
    
    .logo {
        font-size: 20px;
        border: none;   
        .whiteSide{
            color: $logo_green; 
            background-color: $white;
            padding: 5px 12px;
            border: 2px solid $logo_green;
            }
    }
    .category {
        flex-direction: row;
        align-items: center;
        gap: 15px;
    .button {
        width: 90%;
        max-width: 160px;
        height: 40px;
        font-size: 13px;
    }
    .navIcons {
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 14px;
       
    }
    }
}
}

