@use "../../helpers/variables" as *;

.navigation{
    background-color:$white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    height: 120px;
    font-family: 'Roboto';
    margin-bottom: 6rem;
.logo{
    display: flex;
    align-items: right;
    border: 2px solid $logo_green;
    font-family: 'Roboto';
    .greenSide{
    background-color: $logo_green;
    color: $white;
    padding: 5px 12px;
    }
    .whiteSide{
    color: $logo_green; 
    background-color: $white;
    padding: 5px 12px;
    }
}
.category{
    display: flex;
    flex-direction: row;
    gap: 28px;
    background-color: $white;
    .button{
        background-color: $light_green;
        width: 139.8px;
        height: 44.6px;
        top: 41.33px;
        left: 915px;
        border: none;
        color: $white;
        
    }
    .icons{
        display: flex;
        gap: 8px;
        color: $lightGray;
        opacity: 0.5;
        margin: 1rem;
    }
}

}