@use '../../helpers/variables' as *;

.footer{
    background-color: $light_green;
    font-family: $font-family;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 3rem 6rem;
    gap: 2rem;
    @media(max-width:768px){
        display: grid;
        grid-template-columns: 1fr ;
    }
   
.footerTitle{
    color: $white;
    font-size: 20px;
    font-weight: 400;
    width: 80%;
    margin-bottom: 24px;
}
.newsSection{
    display: flex;  
    flex-direction: column;
    .footerText{
    width: 100%;
    font-size: 12px;
    }
    .inputSection{
        display: flex;
        flex-direction: row;
        width: 100%;
        .newsInput{
            width: 90%;
            padding: 8px;
            border: none;
            margin-top: 10px;
        }
        .btnSignUp{
            background-color: $logo_green;
            padding: 10px;
            border: none;
            margin-top: 10px;
            color: $white;
        }
    }
   
   
   
}
.contactSection{
    margin-left: 4rem;
    line-height: 1.5rem;
    .footerText{
    font-size: 12px;
    }
}
.worldSection{
    margin-bottom: 1rem;
    .footerText{
        font-size: 12px;
        margin-bottom: 30px;
        }
    .link{
        color: $white;
        font-size: 12px;
    }
}

    

}