@use "../../helpers/variables" as *;

.messageSection{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 8rem;
.messageTitle{
    text-align: center;
    font-family: $font-family;
    font-weight: 200;
    font-size: 28px;
    color: $logo_green;
    padding: 1rem;
    text-align: center;
}
.inputBox{
width: 665px;
height: 150px;
border: 1.5px solid $logo_green ;
padding: 10px;
resize: none;
margin: 0 auto;
}
.btnSend{
width: 82px;
height: 28px;
background-color: $logo_green;
color: $white;
border: none;
float: right;
margin-right: 2.1rem;
margin-top: 1rem;
}
}