@use "../../helpers/variables" as *;

.messageSection{
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
 
.messageTitle{
    text-align: center;
    font-family: $font-family;
    font-weight: 200;
    font-size: 28px;
    color: $logo_green;
}
.inputBox{
width: 600px;
height: 150px;
border: 2px solid $light_green;
padding: 10px;
resize: none;

}
.btnSend{
width: 82px;
height: 28px;
background-color: $logo_green;
color: $white;
border: none;
justify-content: right;
display: block;
}
}